*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-bgbrown{
    background-color: #2874F0;
    /* background-color: #b2b2b2; */
}

.bg-darkGrey{
    background-color: #172337;
}

.main_body{
    height: 3000px;
}
.mymodal{
    
    /* height: 35%; */
    min-height: 55vh !important;
    max-height: 75vh !important;
}
