body {
  margin: 0;
  font-family:'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mycard{
  transition: all 0.3s;
  cursor: pointer;
  overflow: hidden;
}
.mycard .myimg{
  transition: all .4s;
}
.mycard:hover .myimg {
  transform: scale(1.12);
}

.order:hover{
  box-shadow: 1px 4px 16px #bababa;
  /* -webkit-transition:  box-shadow .6s ease-in; */
}
